applications/
paragraphs.txt
resume.tex
cover.tex
.DS_Store
company/
data-science/
log.txt
other/
*.log
*.aux
*.log
*.out
*.pdf
*.tex
*.toc
*.bbl
*.blg
*.synctex.gz
ai.py
*.env

env/

**/node_modules
**/temp